.section{
  margin: 50px 0px;
  display: flex;
  flex-direction: column;
}

.button{
  height: 60px;
  padding: 10px;
  margin: 5px 0px;
  border-radius: 8px;
  cursor: pointer;
  transition: 1s;
  font-size: 15px;
  width: fit-content;
  align-self: center;
}

.button:hover{
  background-color: rgb(179, 179, 133);
  transform: scale(110%);
}

.textarea{
  width: 500px;
  height: 250px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Connect Account*/
.connectAcct{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.connectAcct .moon{
  width: 200px;
}

.connectAcct .welcome{
  width: 100%;
  height: 40px;
  margin: 2em 0 7em 0;
}

.connectAcct button{
  background: linear-gradient(180deg, #C071FF 0%, rgba(217, 217, 217, 0.06) 142.5%);
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  padding: .7em 1.5em;
  transition: 1s;
  font-size: 15px;
}

.connectAcct button:hover{
  background-color: rgb(179, 179, 133);
  transform: scale(110%);
}

/*Select Role*/

header .lunar{
  position: absolute;
  top: 2em;
  left: 46%;
}

main{
  display: flex;
  justify-content: space-evenly;
  height: 60vh;
}

main p{
  width:30%;
  word-spacing: 2px;
  line-height: 1.8;
  text-align: left;
  margin-right: 1.5em;
  align-self: center;
  padding-left: 5em;
  font: 1.5em;
}

.side-img{
  height: inherit;
  width: 50%;
}

.innerimg{
  height: 280px;
  width: 280px;
  margin-top: 1.5em;
}

.button-group{
  margin-top: 2em;
  display: flex;
  justify-content: space-evenly;
}

.button-deploy, .button-attach{
  cursor: pointer;
  background: linear-gradient(180deg, #C071FF 0%, rgba(217, 217, 217, 0.06) 100%);
  border-radius: 50px;
  color: #fff;
  padding: .8em 2em;
  transition: 1s;
  font-size: 15px;
}

.button-deploy:hover, .button-attach:hover{
  background-color: rgb(179, 179, 133);
  transform: scale(110%);
}

/* Paste Contract Info*/

.lunar{
  margin-bottom: 1em;
  width: 250px;
}

.button-blog{
  background: linear-gradient(180deg, #C071FF 0%, rgba(217, 217, 217, 0.06) 142.5%);
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  padding: 1.2em 3.5em;
  transition: 1s;
  font-size: 15px;
  margin-top: 2em;
  width: fit-content;
  align-self: center;
}

.button-blog:hover{
  background-color: rgb(179, 179, 133);
  transform: scale(110%);
}

/* Subscription Price*/

.marni-img{
  width: 250px;
}

.aside-subscribe{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 6em;
}

.price_input{
  width: 200px;
  height: 75px;
  margin: 5em 0 3em 0;
  text-align: center;
  font-size: 30px;
}

.button-price{
  background: linear-gradient(180deg, #C071FF 0%, rgba(217, 217, 217, 0.06) 142.5%);
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  padding: 1.2em 3.5em;
  transition: 1s;
  font-size: 15px;
  margin-top: 2em;
  width: fit-content;
  align-self: center;
}

.button-price:hover{
  background-color: rgb(179, 179, 133);
  transform: scale(110%);
}

/* Create Post */
.wrapper{
  transition: 1s;
  background-color: rgba(16, 16, 109, 0.7);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form{
  border-radius: 10px;
  height: 550px ;
  width: 750px;
  position: relative;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #C071FF 0%, rgba(115, 113, 255) 100%);
}
.input_post{
  background: #D9D9D9;
  width: 80%;
  height: 250px;
  border: none;
  padding: 15px;
}
.lower_content{
  margin-top: 1em;
}
.cancel{
  width: 25px;
  height: 25px;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  cursor: pointer;
  transition: 0.5s;
}
.cancel:hover{
  transform: scale(110%);
  filter: grayscale(200%);
}
.left_label{
  width: 100%;
  text-align: left;
  margin-left: 50px;
  margin-bottom: 10px;
  font-size: 18px;
}

.left_label input{
  width: 1.2em;
  height: 1.2em;
  cursor: pointer;
}
.submit{
  background: linear-gradient(112.56deg, #C071FF 26.27%, #64A6E2 64.67%);
  border-radius: 50px;
  color: rgb(36, 32, 32);
  cursor: pointer;
  padding: 1.2em 3.5em;
  transition: 1s;
  font-size: 15px;
  width: fit-content;
  align-self: center;
  border: 1px solid beige;
}
.submit:hover{
  background: linear-gradient(112.56deg, #64A6E2 26.27%, #C071FF 64.67%);
  
  transform: scale(110%);
}

/* Normal Posts*/

.normal__posts{
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.header_post{
  margin: 1em 0;
}

.button_subscribe{
  display: flex;
  justify-content: flex-end;
}
.button_subscribe button{
  background: linear-gradient(112.56deg, #C071FF 26.27%, #64A6E2 64.67%);
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  padding: .7em 1.5em;
  transition: 1s;
  font-size: 15px;
  width: fit-content;
  align-self: center;
  border: none;
  margin-right: 1em;
  height: 50px;
  text-transform: uppercase;
  font-weight: 800;
}
.button_subscribe button:hover{
  filter: brightness(70%);
  transform: scale(110%);
}

.blog_content{
  margin-top: -1em;
  display: flex;
  flex-direction: column;
  padding: 0 25%;
  height: 100vh;
}

.card_post{
  display: flex;
  align-items: center;
}

.img-icon{
  width: 3,5em;
  height: 3.5em;
  align-self: center;
  margin: 0;
}

.card_inner{
  display: flex;
  margin-left: 20px;
  justify-content: flex-start;
  flex-direction: column;
}

.name_post{
  text-align: left;
  margin-bottom: -1em;
}
.post_content{
  text-align: justify;
  line-height: 1.5;
  width: 100%;
  font-size: .7em;
}

.social_icons{
  display: flex;
  justify-content: flex-start;
}
.social_icons img:nth-of-type(2){
  margin: 0 1em;
}

/*premium posts*/



.pasteInfo{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.main_header{
  margin: 1em 0;
}

.premium_content{
  display: flex;
  flex-wrap: nowrap;
  padding: 15px;
  /* justify-content: center;
  align-items: center; */
}
.left-main{
  flex: 70%;
  width: fit-content;
  padding-left: 1em;
  padding-right: 1em;
  
  
}

.actions{
  display: flex;
  justify-content: space-between;
  margin: .5em 0;
}

.actions button{
  background: linear-gradient(112.56deg, #C071FF 26.27%, #64A6E2 64.67%);
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  padding: .7em 1.5em;
  transition: 1s;
  font-size: 15px;
  width: fit-content;
  align-self: center;
  border: none;
  text-transform: uppercase;
  font-weight: 800;
}

.actions button{
  background-color: rgb(179, 179, 133);
  transform: scale(110%);
  margin: 30px;
  box-shadow: -2px 1px rgb(97, 94, 94);
}
.actions button:hover{
  transform: scale(140%);
  filter: brightness(70%);
}
.premium_blog{
  /* width: 100%; */
  border: 1px solid rgb(0, 55, 128);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  max-height: 700px;
  min-height: 700px;
  overflow-y: scroll;
  margin-bottom: 20px;
  backdrop-filter: blur(3px);
}
.empty{
  justify-content: center;
  min-height: 500px;
}
.empty p{
  font-family: monospace;
  color: #C071FF;
  font-weight: 900;
  font-size: 30px;
}
.sub{
  margin: 30px;
}
.premium_blog::-webkit-scrollbar {
  width: 0.2em;
}
 
.premium_blog::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(12, 8, 224, 0.3);
}
 
.premium_blog::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.premium_card{
 width: 100%;
 display: flex;
 align-self: center;
 padding-left: 45px;
 margin: 5px 0;

}

.card-wrapper{
  width: 60%;
}

.right_info{
  width: fit-content;
}

.inner_notification{
  width: 420px;
  height: 600px;
  max-height: 600px;
  overflow-y: scroll;
  border-radius: 1em;
  padding: 1em;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid #FFFFFF;
  backdrop-filter: blur(10px);
  border-radius: 30px;
}
.inner_notification::-webkit-scrollbar {
  width: 0.2em;
}
 
.inner_notification::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(12, 8, 224, 0.3);
}
 
.inner_notification::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
.card-notify{
  height: 2em;
}

.card-notify p{
  font-size: .5em;
}

.card-notify h6{
  font-size: .4em;
}
.contract-address{
  background: #fff;
  color: black;
  padding: .3em;
  margin: 1em 0;
  font-size: 17px;
  border-radius: 6px;
}

.contract-address p{
  font-size: .9em;
}

.loading{
  animation: loadingButton infinite 5s;
}
.blog-feed-header{
  font-family: monospace;
  margin-bottom: -35px;
  animation: busy infinite 3s;
}
@keyframes loadingButton{
  0%{
    background: linear-gradient(10deg, #C071FF 26.27%, #64A6E2 64.67%);
    color: #C071FF;
  }
  10%{
    background: linear-gradient(25deg, #C071FF 26.27%, #64A6E2 64.67%);
    color: white;
  }
  20%{
    background: linear-gradient(50deg, #C071FF 26.27%, #64A6E2 64.67%);
    color: #C071FF;
  }
  30%{
    background: linear-gradient(80deg, #C071FF 26.27%, #64A6E2 64.67%);
    color: white;
  }
  40%{
    background: linear-gradient(98deg, #C071FF 26.27%, #64A6E2 64.67%);
    color: #C071FF;
  }
  50%{
    background: linear-gradient(112.56deg, #C071FF 26.27%, #64A6E2 64.67%);
    color: white;
  }
  60%{
    background: linear-gradient(150deg, #C071FF 26.27%, #64A6E2 64.67%);
    color: #C071FF;
  }
  70%{
    background: linear-gradient(200deg, #C071FF 26.27%, #64A6E2 64.67%);
    color: white;
  }
  80%{
    background: linear-gradient(280deg, #C071FF 26.27%, #64A6E2 64.67%);
    color: #C071FF;
  }
  90%{
    background: linear-gradient(360deg, #C071FF 26.27%, #64A6E2 64.67%);
    color: white;
  }
}

@keyframes busy{
  0%{
    color: #C071FF;
  }
  10%{
    color: white;
  }
  20%{
    color: #C071FF;
  }
  30%{
    color: white;
  }
  40%{
    color: #C071FF;
  }
  50%{
    color: white;
  }
  60%{
    color: #C071FF;
  }
  70%{
    color: white;
  }
  80%{
    color: #C071FF;
  }
  90%{
    color: white;
  }
}

